@font-face {
    font-family: "VCR OSD Mono Cyr";
    font-display: swap;
    src: url("/fonts/VCR OSD Mono Cyr.woff2") format("woff2");
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    font-display: swap;
    src: url("/fonts/Inter-Regular.woff2") format("woff2");
    font-style: normal;
}
