.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem var(--offset-x, 0px);
    margin-top: auto;
}

.footer-social {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
